body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Figtree';
}

.container{
    max-width: 1440px;
    min-width: 375px;
    width: 90vw;
    height: 90vh;
    background-color: hsl(47, 88%, 63%);
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-size: cover;
    object-fit: contain;
    width: 20em;
    padding: 0.5em;
    height: 28em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.8em;
    border: 1px solid black;
    box-shadow: 5px 5px black;
    gap: 1em;

}

svg{
    width: 100%;
    height: auto;
    border-radius: 0.4em;
}

.additional{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.8em;
}

#tab{
    background-color: hsl(47, 88%, 63%);
    width: fit-content;
    border-radius: 0.2em;
    font-weight: 800;
    padding: 0.3em;
}


h5{
    font-size: 1.4rem;
}


#author{
    display: flex;
    align-items: center;
    padding: 0.5em;
    gap: 0.5em;
    & img{
        width: 2em;


    }
}